#lowry {
    position: absolute;
    top: 50%;
    left: 2%;
}
#siakam {
    position: absolute;
    top: 48%;
    left: 23%;
}
#anunoby {
    position: absolute;
    top: 48%;
    left: 37%;
}
#powell {
    position: absolute;
    top: 46%;
    left: 57%;
}
#vanvleet {
    position: absolute;
    top: 49%;
    left: 74%;
}



